#content
	%h1
		= I18n.t :about_tests

	%h2
		На сегодня есть два вида тестов, выбирай:

		%a.test-type-select.br5.p30{href: "/pressure-vessels"}
			1. Сосуды, работающие под давлением
		%a.test-type-select.br5.p30{href: "/pipelines-of-steam-and-hot-water"}
			2. Трубопроводы пара и горячей воды
