.bg-primary-color-dark.primary-color-text
	.question-header
		%h2
			На сегодня есть два вида тестов, выбирай:

	%a.question-card{href: "/pressure-vessels"}
		%div
			1. Сосуды, работающие под давлением
	%a.question-card{href: "/pipelines-of-steam-and-hot-water"}
		%div
			2. Трубопроводы пара и горячей воды
	%a.question-card{href: "/man_turbo_oil_system"}
		%div
			3. Маслосистема MAN-turbo
	%a.question-card{href: "/propylene_cooling_system"}
		%div
			4. Пропиленовый холод
