#system-status-bar.vm
	- if !params['test_type'] 
		%div.ib
			%h1
				Тесты 
	- else
		%a#homelink{href: "/"}
			%span.glyph.glyph-arrow-left.primary-color-text
		%div.ib
			%h1
				= "Тест: #{I18n.t params['test_type'].gsub(/-/,'_')}"
	.pull-right
		- if @session && @session[:client_id]
			%a{href: "client_#{@session.client_id}"}
