#system-progress-bar
	#wrong><
	#right
	-# if params['test_type'] && @question[:count] && @question[:count] > 0 && @question[:list] && @question[:list].size > 0
		.pull-right
			.c1#counter
				= "#{@question[:count] - @question[:list].size} из #{@question[:count]} вопросов"