<div class="p32">
	<h2>Ваш ответ: {{your_answer}}</h2>
	<h1 class="mv16">Неправильный ответ!</h1>
	<h2>Правильный ответ: {{right_answer}}</h2>
	<div class='mt32 mb32 btn btn-next'>Далее</div>
</div>