.bg1 {
	background-color: #00bcd4;
}

.bg2 {
	background-color: #00838f;
}


/*.bg3 {
	background-color: #0097a7;
}*/

.bg3 {
	background-color: #fff;
}

.c1 {
	color: #80deea;
}

.c2 {
	color: #4dd0e1;
}

.c3 {
	color: #fff;
}

.c4 {
	color: #000;
}