.bg1 {
	background-color: #00bcd4;
}

.bg2 {
	background-color: #00838f;
}


/*.bg3 {
	background-color: #0097a7;
}*/

.bg3 {
	background-color: #fff;
}

.c0 {
	color: #000 !important;
}

.c1 {
	color: #80deea !important;
}

.c2 {
	color: #4dd0e1 !important;
}

.c3 {
	color: #fff !important;
}

.c4 {
	color: #000 !important;
}

.cred {
	color: crimson;
}

.cgreen {
	color: green;
}