/*
::selection { background: transparent; }
::-moz-selection { background: transparent; }
*/

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/*
html, body {
	overflow-x: hidden;
}
*/

a * {
	pointer-events: none;
}

.disable-hover {
	pointer-events: none;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	list-style-type: none;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	font-family: "Arial";
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #aeaeae;
}

a:visited {
	color: white;
}

*:focus {
	outline: none;
}

html, body {
	height: 100%;
	margin: 0;
}

.layout {
	width: 100%;
}

#content {
/*	width: 100%;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
/*
	text-align: center;
*/
}

#content > .header {
	width: 100%;
	position: relative;
	text-align: center;
/*	padding-bottom: 46px;
	margin-bottom: 125px;*/
	height: 574px;
	overflow: hidden;
}

#content > .header .bottom-title {
	display: block;
	position: absolute;
	right: 10px;
	margin: 109px 29px 10px 0;
	font-size: 18px;
}

.header img.background-blue {
	position: absolute;
	top: 0;
	left: 0;
	width: 110%;
	height: 130%;
/*
	z-index: 1;
*/
	pointer-events: none;
}

#content > .header #btn-how-it-works {
	position: relative;
}

#content > .header .background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 110%;
/*
	z-index: 0;
*/
	overflow: hidden;
}

#content > .header .background img {
/*	-webkit-filter: brightness(35%);*/
	width: 100%;
}

#content > .footer .left-logo {
	cursor: pointer;
	pointer-events: all;
	/*position: absolute;
	left: 24px;
	top: 2px;*/
	letter-spacing: 0.9px;
}

#content > .header .center-logo {
	margin: 0px auto 12px auto;
	font-size: 0px;
	position: relative;
/*
	z-index: 2;
*/
}

#content > .header .center-logo div {
	display: inline-block;
	font-size: 72px;
	font-weight: bold;
/*
	z-index: 2;
*/
}

#content > .header .seo-subheader-01 {
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 28.5px;
	margin-bottom: 60px;
}

.noborder {
	border: 0px;
}

.left-logo img {
	width: 96px;
	height: 96px;
/*	position: absolute;
	left: -41px;
	top: -5px;*/
	background-color: transparent;
}

#content > .footer .left-logo:before {
	width: 16px;
	height: 23px;
	left: -63px;
	top: -5px;
	padding: 3px 4px 3px 9px;
	font-weight: inherit;
}

#content .top-logo.in-top-menu, .top-logo.in-top-menu:before {
	position: fixed !important;
	top: 0px !important;
	left: 30px;
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 16;
}

#content > .header .left-logo.in-top-menu:before {
	top: -5px !important;
}

.search-group.in-top-menu {
	position: fixed;
	height: 40px;
	top: 2px;
	z-index: 14 !important;
	margin: 0px !important;
	opacity: 1;
}

.search-group.in-top-menu .btn {
	height: 36px !important;
	padding: 7px 34px 10px 39px !important;
}

.search-group.in-top-menu #search-by-specialization {
	height: 35px;
}


.search-group.in-top-menu .select2-container-multi .select2-choices {
	min-height: 30px;
}

.search-group.in-top-menu .select2-container-multi .select2-choices .select2-search-field input {
	padding: 0px 5px 0px 15px;
	margin-top: 1px;
	line-height: 18px;
}

.search-group.in-top-menu .select2-container-multi .select2-choices .select2-search-choice {
	line-height: 23px;
	top: -4px;
}

.top-menu.retracted {
	position: fixed !important;
	top: 0px !important;
}

.top-submenu {
	top: 43px;
}

.top-submenu > .fs > .ib:nth-of-type(2) {
	padding-top: 12px;
	height: 44px;
}

.top-submenu a:not(.active):hover .ib:nth-of-type(2) {
	border-bottom: 6px solid #a1a2a3;
}

.top-submenu > .fs > .ib.max {
	margin-top: 7px;
	padding-top: 5px;
}

.top-submenu > a.active .ib:nth-of-type(2) {
	border-bottom: 6px solid white;
}

.registration-fields {
	width: 100%;
/*	height: 400px;*/
	background-color: #fbfbfb;
	border: 1px solid #ddd;
	padding: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}

.registration-fields .outlined {
	border: 2px solid #bdbdbd !important;
	border-radius: 3px;
}

.registration-fields input.outlined, .registration-fields select.outlined {
	height: 38px !important;
}

.registration-fields textarea {
	height: 200px;
}

.registration-fields .input-field > * {
	vertical-align: top;
}

.registration-fields input[id^='user-'], .registration-fields textarea[id^='user-'] {
	width: 100%;
}

.registration-fields textarea[id^='user-'] {
	font-size: 16px;
	padding: 11px;
}

.registration-fields .label {
	height: 46px;
	padding-top: 10px;
/*
	margin-top: 34px;
*/
}

.registration-fields a {
	color: #444;
	text-decoration: none;
}

.registration-fields a.btn, .registration-fields a.btn:hover {
	color: white;
}
.registration-fields a:hover {
	color: #666;
}

.registration-fields .btn-sign-up-continue {
/*
	display: block;
*/
	left: 0px;
}

.registration-fields select {
	background-color: white !important;
	border: 1px solid #bdbdbd !important;
	border-radius: 3px;
}

.registration-fields input[id^='user-'] {
	text-indent: 6px;
}

.fs .circled {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid;
	padding-left: 5px;
	color: #a1a2a3;
}

.fs.active .circled {
	width: 30px;
	height: 30px;
	padding-left: 10px;
	color: white;
	padding-top: 5px;
}

.fs .label {
	color: #a1a2a3;
	margin-left: 10px;
}

.fs.active .label {
	color: white;
}

.left-30p {
	left: 30%;
}

.gradient-h {
	background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
	background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(to left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}

.maket {
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	width: 100%;
	display: none;
	text-align: center;
}

.maket img {
	display: inline-block;
	opacity: 0.4;
	pointer-events: none;
}

/*
.btn:hover {
	opacity: 1;
}

*/
.btn-exit:active {
	background-color: crimson;
}

.btn-home:active {
	background-color: navy;
}

.btn-exit {
	background: transparent;
}

.btn-howitworks, .btn-to-chose {
	opacity: 0.6;
	padding: 15px 41px !important;
	font-size: 20px;
	height: 52px !important;
}

.btn-place-a-service {
	background-color: #ff7e00;
	padding: 6px 41px !important;
	height: 32px !important;
	margin-top: 6px !important;
	font-size: 18px !important;
	color: white !important;
}

.btn-startsearching {
	height: 38px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-top: 8px !important;
}

.btn-to-chose {
	background-color: #2553be;
}

.performer-city {
	position: absolute;
	left: 180px;
	width: 200px;
	padding: 8px !important;
	top: 0px;
}

.performer-city > * {
	width: 100%;
	background-color: #505050;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.header .top-margin {
	height: 210px;
}

.search-element {
	position: absolute;
	height: 121px;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

.search-element:before {
	display: block;
	position: absolute;
	content: ' ';
	width: 100%;
	height: 100%;
	background-color: #16161c;
	opacity: 0.4;
	z-index: -1;
}

.search-element .search-group {
	display: inline-block;
	margin: 35px auto;
	background-color: white;
	padding: 2px;
	z-index: 11;
}

#add-new-service-type > * {
	pointer-events: none;
}

#search-by-specialization, #select-city {
	display: inline-block;
/*	width: 247px;*/
	height: 38px;
	font-size: 20px;
	padding: 3px 11px;
}

.search-group #search-by-specialization {
	width: 247px !important;
}

.select2-drop {
	width: 320px;
}

.select2-container-multi .select2-choices {
	min-height: 43px;
	background-image: none !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
	margin: 1px 0 1px 5px;
	line-height: 31px;
	color: #222;
	border: 0px solid #aaaaaa;
	background-image: none !important;
	background-color: #ddd;
}

.select2-container-multi .select2-choices .select2-search-field input {
	padding: 4px 5px 5px 15px;
	margin-top: 2px;
	line-height: 18px;
	font-size: 133%;
}

.select2-search-choice-close:hover {
	color: red;
}

.promo {
	background-color: #ededed;
	padding-top: 30px;
}

.promo h1 {
	color: #494949;
	font-size: 16px;
}

.promo p {
	color: #848484;
	font-size: 24px;
}

.promo .quarter-column {
	vertical-align: top;
}

.promo .quarter-column h1 {
	font-size: 29px;
	margin-top: 24px;
}

.promo .quarter-column p {
	font-size: 22px;
	margin: 3% 3% 5% 3%;
}

[data-behaviour='live-img'] {
	height: 573px;
	-webkit-animation-name: scalex;
	-webkit-animation-duration: 57s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: scale;
	-moz-animation-duration: 57s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes scalex {
	from {-webkit-transform: scale(1.0);}
	65% {-webkit-transform: scale(4.3);}
	to {-webkit-transform: scale(1.0);}
}

@-moz-keyframes scale {
	from {-moz-transform: scale(1.0);}
	65% {-moz-transform: scale(2.3);}
	to {-moz-transform: scale(1.0);}
}

.quarter-column {
	display: inline-block;
	width: 24%;
	padding: 20px;
}

.quarter-column:nth(1) {
	margin-left: 13%
}

.offer {
	padding-top: 124px;
	margin-left: auto;
	margin-right: auto;
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 44%, rgba(210,210,210,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(255,255,255,1)), color-stop(44%,rgba(255,255,255,1)), color-stop(99%,rgba(210,210,210,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 44%,rgba(210,210,210,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 44%,rgba(210,210,210,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 44%,rgba(210,210,210,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 44%,rgba(210,210,210,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#d2d2d2',GradientType=0 ); /* IE6-9 */
}

.offer h1 {
	font-size: 29px;
	color: #676767;
	margin-bottom: 60px;
}

.offer .two-col, .offer .three-col {
	margin-top: 49px;
}

.offer .two-col div, .offer .three-col div {
	display: inline-block;
	overflow: hidden;
	background-size: 100%;
	background-repeat: round;
	position: relative;
	filter: grayscale(0.2);
	-webkit-filter: grayscale(0.2);
}

.offer .look-all-specs {
	margin-bottom: 103px;
}

.offer h2 {
	font-size: 31px;
	color: #4a4a4a;
}

.offer .look-all-specs h2 a {
	text-decoration: none;
	border-bottom: 2px solid #0579bf;
	color: #0579bf;
}

.offer .look-all-specs h2 a:hover {
	border-bottom: 2px solid #a31aa3;
	color: #a31aa3;
}

.offer .two-col div:hover, .offer .three-col div:hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
}

.offer .two-col div a, .offer .three-col div a {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-decoration: none;
	display: inline-block;
	vertical-align: bottom;
}

.three-col {
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.container-01 {
	display: block;
	width: 100%;
}

.offer .two-col div a h2, .offer .three-col div a h2 {
	position: relative;
	color: white;
	font-size: 30px;
	text-shadow: 2px 1px 3px rgba(5, 5, 5, 1);
}

.offer .two-col div a h2{
	top: 45%;
}

.offer .three-col div a h2 {
	top: 43%;
}

.offer .two-col div {
	width: 568px;
	height: 378px;
}

.offer .two-col div:nth-of-type(1) {
	margin-right: 2%;
}

.offer .three-col div {
	width: 366px;
	height: 253px;
}

.offer .three-col div:nth-of-type(1), .offer .three-col div:nth-of-type(2) {
	margin-right: 2%;
}

.offer .three-col {
	margin-bottom: 58px;
}

.offer .to-service-chose h2 {
	color: #676767;
	line-height: 40px;
	font: inherit;
	font-size: 34px;
	letter-spacing: -0.2px;
}

.to-service-chose .form {
	text-align: center;
	margin-top: 6px;
}

.performers-filter .to-service-chose .form > span {
	display: inline-block;
}

.to-service-chose .form .btn {
	margin-top: 13px;
	margin-bottom: 137px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 21px;
}

#content > .footer {
	/*height: 400px;
	position: relative;
	bottom: 0px;
	display: block;
	margin-top: -4px;*/
	background: rgb(47,48,49); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(47,48,49,1) 1%, rgba(21,21,22,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(47,48,49,1)), color-stop(100%,rgba(21,21,22,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(47,48,49,1) 1%,rgba(21,21,22,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(47,48,49,1) 1%,rgba(21,21,22,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(47,48,49,1) 1%,rgba(21,21,22,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(47,48,49,1) 1%,rgba(21,21,22,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f3031', endColorstr='#151516',GradientType=0 ); /* IE6-9 */
	padding-bottom: 37px;
	border-top: 2px solid #252525;
}

#content > .footer .four-cols {
	padding-top: 59px;
	padding-bottom: 30px;
}

#content > .footer .four-cols > div {
	vertical-align: top;
	text-align: left;
	display: inline-block;
	width: 294px;
	position: relative;
	color: white;
}

#content > .footer .four-cols > div h3 {
	margin-bottom: 33px;
}

#content > .footer .four-cols > div a {
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	color: #afafaf;
	display: block;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 13px;
}

#content > .footer .four-cols > div a:hover {
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	color: #fff;
}

#content > .footer .copyright {
	color: #cbcbcb;
	font-size: 17px;
	margin: 40px auto 20px auto;
	display: block;
}

.specialization-show-content {
	width: 100%;
	display: inline-block;
	position: relative;
}

.specialization-show-content .col1 {
	float: left;
	width: 100%;
}

.glue-top {
	position: fixed !important;
	top: 0px;
	right: 0px;
}

.right-menu {
	position: absolute;
	background-color: transparent;/*#e7e7e7;*/
	top: 0px;
	height: 100%;
	width: 500px;
	right: 0px;
	overflow-x: hidden;
}

.performers-filter {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	background-color: #353535;
	z-index: 12;
	padding: 41px 43px 43px 39px;
	border-left: 2px solid #212121;
	border-top: 2px solid #252525;
	max-height: 100%;
	overflow-y: scroll;
}

.performers-filter::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.performers-filter::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

.performers-filter::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.fix-top {
	position: fixed !important;
	z-index: 14 !important;
}

.fix-bottom {
	position: absolute !important;
	z-index: 14 !important;
	bottom: 0px !important;
	top: auto !important;
}

.glyph-settings.fix-top {
	z-index: 15 !important;
}

.glyph-settings.fix-bottom {
	position: fixed !important;
	top: 0px !important;
}

.glyph-settings.retracted {
}

.glyph-settings {
	position: absolute;
	display: block;
	width: 40px;
	height: 80px;
	top: 0px;
	right: 8px;
	background-color: #353535;
	border-radius: 6px 0px 0px 6px;
	border-left: 2px solid #252525;
	border-top: 2px solid #252525;
	border-bottom: 2px solid #252525;
	z-index: 15;
	cursor: pointer;
}

.glyph-settings.nominated {
	border-right: 2px solid #252525 !important;
	border-left: 0px !important;
	border-radius: 0px 6px 6px 0px !important;
/*	right: 510px;*/
	background-color: #e7e7e7 !important;
}

.glyph-settings.nominated:before {
	color: #353535 !important;
}

/*.nominated {
	right: 0px !important;
}*/

.performers-filter hr.full {
	margin: 0px -42px 20px -39px;
}

.performers-filter hr {
	clear: both;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #969696;
	background-color: #969696;
	border: none;
	height: 1px;
	border-style: none;
	/*border: 0px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #ccc, #ccc); 
	background-image:    -moz-linear-gradient(left, #ccc, #ccc, #ccc); 
	background-image:     -ms-linear-gradient(left, #ccc, #ccc, #ccc); 
	background-image:      -o-linear-gradient(left, #ccc, #ccc, #ccc);*/
}
.performers-list {
	padding: 43px 0px 43px 0px;
	border-top: 2px solid #252525;
	background-color: #e7e7e7;
}

.performers-list.retracted {
	margin-right: none;
}

.performer-item {
	background: rgb(94,94,94); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(48,48,48,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,94,94,1)), color-stop(100%,rgba(48,48,48,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(94,94,94,1) 0%,rgba(48,48,48,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(94,94,94,1) 0%,rgba(48,48,48,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(94,94,94,1) 0%,rgba(48,48,48,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(94,94,94,1) 0%,rgba(48,48,48,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
	position: relative;
	display: inline-block;
	border-radius: 6px 6px 0px 0px;
	margin-bottom: 18px;
	margin-right: 10px;
	overflow: hidden;
	box-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
	
}

.performer-item .reviews a * {
	font-size: 14px;
	display: inline-block;
	position: relative;
}

/*
.performer-item .gallery img, .performer-item .reviews {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
*/

.performer-item .star-rate {
	min-width: 128px;
	/* position: absolute; */
	bottom: 42px;
	/* left: 0px; */
	/* right: 0px; */
	z-index: 12;
}

.star-rate text {
/*
	stroke: #aaa;
*/
	font-family: 'webglyphs' !important;
	cursor: pointer;
}

.performer-page .line, .performer-header .line {
	display: block;
	position: relative;
	text-align: left;
	margin-bottom: 20px;
	color: #3e3e3e;
}

.performer-page .line > *, .performer-page .line > * {
	vertical-align:middle;
/*	width: 100%;*/
}

.line > p {
	text-indent: 20px;
	text-align: justify;
	margin-bottom: 10px;
	color: #5d5d5d;
}

.performer-header {
	padding: 10px;
	margin-top: 560px;
	width: 100%;
	height: 200px;
	background-color: #fff;
	border-bottom: 1px solid #cbcbcb;
	z-index: 13;
}

#performer-order {
	width: 300px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 16;
}

.performer-page {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

/*
.performer-page:before {
	content: " ";
	float: right;
	width: 300px;
	height: 200px;
}
*/

.bg28 {
	background-color: #282828;
}

.bgf5 {
	background-color: #f5f5f5;
}

.performer-header .title {
	display: inline-block;
	text-align: left;
	margin-left: 30px;
}

.performer-header .title p:nth-of-type(1) {
	font-size: 40px;
}

.performer-header .avatar {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #666;
	display: inline-block;
}
.client-avatar {
	width: 100px;
	text-align: center;
	margin-right: 30px;
}

.performer-item .reviews {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
	padding: 12px 13px;
	font-size: 14px;
	height: 40px;
	width: 100%;
	z-index: 12;
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 29%, rgba(255,255,255,0) 74%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(29%,rgba(255,255,255,1)), color-stop(74%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 29%,rgba(255,255,255,0) 74%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 29%,rgba(255,255,255,0) 74%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 29%,rgba(255,255,255,0) 74%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 29%,rgba(255,255,255,0) 74%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1 ); /* IE6-9 */
}

.performer-item .gallery, .performer-item .shadow-layer, .performer-item .shadow-layer a {
	width: 100%;
/*
	height: 100%;
*/
}

.performer-item .gallery, .performer-item .shadow-layer {
	position: relative;
}

.performer-item .gallery, .performer-item .shadow-layer a {
	display: block;
}

.performer-title-image {
	overflow: hidden;
	position: fixed;
	height: 560px;
	width: 100%;
	top: 0px;
	z-index: -1;
	overflow: hidden;
}

.performer-title-image img {
	width: 100%;
}

#content > .performer-item, .performer-page .performer-item {
	width: 100%;
	height: 360px;
}

.gallery .prev, .gallery .next {
	cursor: pointer;
	text-align: center;
	z-index: 12;
	width: 25%;
	height: 100%;
	position: absolute;
	top: 0px;
/*
	display: table-cell;
*/
}

.glyph-prev:before, .glyph-next:before {
	@include vertical-align;
}

.center-vertical {
	@include vertical-align;
}

.gallery .prev {
	left: 0px;
}

.gallery .next {
	right: 0px;
}

.performer-item .shadow-layer {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 11;
	background: -moz-linear-gradient(top, rgba(94,94,94,0.2) 0%, rgba(48,48,48,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,94,94,0.2)), color-stop(100%,rgba(48,48,48,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(94,94,94,0.2) 0%,rgba(48,48,48,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(94,94,94,0.2) 0%,rgba(48,48,48,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(94,94,94,0.2) 0%,rgba(48,48,48,0.1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(94,94,94,0.2) 0%,rgba(48,48,48,0.1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#335e5e5e', endColorstr='#91303030',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}

.gallery {
	text-align: center;
}

.gallery img {
	z-index: 11;
	position: absolute;
	bottom: 0px;
}

.gallery img.tall {
	height: 100%;
	width: auto;
	display: inline-block !important;
	position: relative !important;
	-webkit-border-top-left-radius: 0px !important;
	-webkit-border-top-right-radius: 0px !important;
	-moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.back {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	left: 0px;
}

.clip-left, .clip-right {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
}

.clip-left {
	left: 0px;
}

.clip-right {
	right: 0px;
}

.gallery img.wide {
	width: 100%;
	height: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.gallery img[class^='padding'] {
/*	position: absolute;*/
	bottom: 0px;
	height: 100%;
	width: 10000%;
	-webkit-filter: blur(7px);
	-moz-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: blur(7px);
}

.gallery img[class^='padding-left'] {
	left: 0px;
}

.gallery img[class^='padding-right'] {
	right: 0px;
}

.gallery img.padding-wide {
	display: none;
}

.gallery .padding-tall {
	z-index: 10 !important;
	filter: blur(15px);
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: url(blur.svg#blur); 
}


.performer-item .footer {
	position: absolute;
	z-index: 11;
	min-height: 81px;
	max-height: 110px;
	width: 100%;
	bottom: 0px;
	background: white;
	text-align: left;
/*
	padding: 12px 16px;
*/
}

.performer-item .footer .description h1, .performer-item .footer .description h2 {
	width: 100%;
}

.performer-item .footer .description h1 {
	font-size: 24px;
	color: #3b3b3b;
	padding: 10px 0px 3px 10px;
}

.performer-item .footer .description h2 {
	font-size: 13px;
	padding-left: 10px;
	height: 40px;
	font-weight: normal;
	color: #7a7a7a;
}

.performer-item .footer .price {
/*
	width: 150px;
	position: relative;
*/
	float: right;
	margin-right: 0px;
	bottom: -2px;
	right: 2px;
	padding: 11px;
	text-align: center;
	background-color: #efefef;
	box-shadow: 1px 1px 2px #969696;
/*
	margin-bottom: 3px;
	padding: 11px 26px 10px;
*/
}

.performer-item .footer .price > p:nth-of-type(1) {
	margin-right: 20px;
}

.performer-item .footer .price > p {
	display: inline-block;
}

.performers-filter .input-block {
	width: 100%;
	text-align: left;
	position: relative;
}

.performers-filter .input-block label{
	width: 29%;
	text-align: left;
	display: inline-block;
	padding: 2px 20px 10px 0px;
	color: white;
	letter-spacing: 1.2px;
/*
	margin-bottom: 18px;
*/
}

.performers-filter select, .performers-filter input, .performers-filter .input-block .select2 {
	height: 38px !important;
/*	width: 53%;
	margin-right: 10%;*/
}

.performers-filter .input-block .select2-container-multi .select2-choices .select2-search-choice {
	height: 37px;
}

.performers-filter .input-block .select2{
	display: inline-block;
	background-color: #b1b1b1;
	color: #3f3f3f;
}

.performers-filter .input-block .select2-container-multi .select2-choices .select2-search-choice {
	margin: 2px 0 1px 2px;
	line-height: 28px;
}

.performers-filter .input-block .select2-container-multi .select2-choices {
	min-height: 26px;
}

.performers-filter .input-block [class*='btn-'], .form-control {
	font-size: 16px;
}

.pickmeup {
	z-index: 18 !important;
}

.performers-filter .select2-container-multi .select2-choices .select2-search-choice {
	padding: 5px 5px 3px 18px;
}

.performers-filter .input-block .form-control.select2-container .select2-choices {
	border-radius: 0;
}

.performers-filter .input-block input {
	padding: 3px 11px;
	font-size: 20px;
	width: 100%;
}

.full-width {
	width: 100% !important;
}

.performers-filter #range-slider {
	display: inline-block;
	position: relative;
	width: 100%;
	margin-bottom: 40px;
}

.noUi-background {
	background-image: url(/images/slider.png);
	background-position: 0 0px;
	height: 10px;
	/*width: 260px;*/
	top: 0px;
	box-shadow: none;
}

.noUi-origin {
	background-position: right top;
/*	width: 260px;*/
}

.noUi-connect {
	background-image: url(/images/slider.png);
	height: 10px;
	background-position: 0 -14px;
	top: 0px;
}

.noUi-target {
	border-radius: 0;
	border: none;
	box-shadow: none;
}

.noUi-handle {
	background-image: url(/images/slider.png);
	height: 20px;
	width: 20px;
	top: -4px;
	background-position: 0 -32px;
	cursor: pointer;
}

.noUi-handle:hover {
	background-position: 0 -60px;
}

#slider-value-from, #slider-value-to {
	position: absolute;
	display: block;
	font-size: 19px;
	font-weight: 400;
	color: #8c8c8c;
/*	margin: 20px 0px 47px;*/
	top: 20px;
}

#slider-value-from {
	left: 0px;
}

#slider-value-to {
	right: 0px;
}

.glyph-female, .glyph-male {
	cursor: pointer;
	position: relative;
	display: inline-block;
/*	margin-left: 43px;*/
	color: #8c8c8c;
}

.glyph-female:hover, .glyph-male:hover {
	color: #fff000;
}

.glyph-female[data-selected='0']:before, .glyph-male[data-selected='0']:before {
	color: #8c8c8c;
}

.glyph-female[data-selected='1']:before, .glyph-male[data-selected='1']:before {
	color: #fff000;
}

.performers-filter .input-block.call-us {
	text-align: right;
	padding-top: 0px;
}

.performers-filter .input-block.call-us p {
	margin: 5px 0px 5px 0px;
}

.performers-filter .input-block.call-us p.label {
	font-size: 18px;
	color: white;
}

.performers-filter .input-block.call-us p.phone {
	font-size: 25px;
	color: #0084ff;
}


.performers-filter .input-block.call-us span[id^="user-"] {
	width: 100%;
	text-align: center;
	padding: 10px 0px 0px;
}

.performers-filter .input-block.call-us span[id^="user-"]:before {
	position: absolute;
	top: 18px !important;
	left: 0px;
}

.performers-filter .input-block.call-us span[id^="user-"] input{
	padding-left: 42px;
	height: 43px !important;
	margin: 0px 0px !important;
}

span[id^="user-"] {
	margin-bottom: 10px;
}

span[id^="user-"]:before {
	top: 0px;
	left: 0px;
}

.bggreen {
	background-color: #1aa334;
}

.performers-filter .input-block.call-us button {
	margin-top: 18px;
	width: 66%;
}

.performers-filter .input-block.call-us span.center {
	width: 100%;
	text-align: center;
	display: inline-block;
}

.gallery .detailed {
	display: block;
	width: 40%;
	height: 44px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: #a31aa3;
	color: white;
	z-index: 15;
/*
	padding: 14px;
*/
	text-decoration: none;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
}

.gallery .detailed * {
	display: block;
	position: absolute;
	width: 100%;
	height: 10px;
	margin-top: -10px;
	top: 50%;
}

.gallery .detailed:hover {
	background-color: #077cc1;
}


.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.performer-video {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.b {
	font-weight: bold;
}

hr.performer-page-line {
	clear: both;
	margin-bottom: 20px;
	margin-top: 30px;
	color: #cbcbcb;
	background-color: #cbcbcb;
	border: none;
	height: 1px;
/*
	border-style: outset;
*/
}

.pa {
	position: absolute;
}

.pf {
	position: fixed;
}

.full-screen {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.cite {
	width: 100%;
	padding: 10px;
	border: 1px solid #cbcbcb;
	background-color: #fefefe;
	position: relative;
}

.cite:before, .cite:after {
	content: "";
	position: absolute;
}

.cite:before {
	border-right: 11px solid #cbcbcb;
	margin-right: 5px;
	left: -11px;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	top: 44px;
}

.cite:after{
	border-right: 10px solid #fefefe;
	margin-right: -2px;
	z-index: 1;
	left: -10px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	top: 45px;
}

/* SQUARED ONE */
.squaredOne {
	width: 18px;
	height: 18px;
	border: 1px solid #fff;
	border-radius: 2px;
	position: relative;
}

.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #00bf00;
	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);
	top: 0px;
	left: 0px;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.squaredOne input[type=checkbox] {
	visibility: hidden;
}

.cap {
	text-transform: uppercase;
}

.b {
	font-weight: bold;
}

.gray-circle {
	border-radius: 50%;
	background-color: #d7d7d7;
	position: absolute;
	right: -1000px;
}

.bg-reg0 {
	background-image: url(/images/reg_0_back.jpg);
	position: fixed !important;
}

.full-screen {
	overflow-x: hidden;
}

[class^="bg-reg"] {
	background-position: 0 0px;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #f1f1f1;
	position: fixed;
	bottom: 0px;
}

.btn-sign-in, .btn-sign-up-step-0, .btn-sign-up-step-1, .btn-sign-up-continue {
	padding: 10px 30px;
	color: white;
	background-color: #2fe05c;
	border: 0 !important;
	height: 50px;
/*	border: 0;
	color: white;
	background-color: magenta;*/
}

.auth-form {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1; 
}

.auth-form p {
	color: white;
}

.center-v > * {
	vertical-align: middle;
}

.zi10 {
	z-index: 10;
}

.performer-item .footer .w32 {
	vertical-align: top;
}

.h100px {
	height: 100px;
}

.ti10px {
	text-indent: 10px !important;
}

.br5px {
	border-radius: 5px;
}

.fancybox-skin {
	background-color: #e8e8e8 !important;
}

.fancybox-close {
	top: 12px !important;
	right: 9px !important;
}

.oferta {
	max-width: 1024px;
	display: block;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: floralwhite;
}

.oferta > h1, .oferta > h2, .oferta > p {
	margin-top: 10px;
	font-family: sans-serif;
}

.oferta > h1 {
	font-size: 24px;
}

.oferta > h2 {
	font-size: 16px;
}

.oferta > p {
	text-align: justify;
	text-indent: 10px;
}

.button_to {
	height: 100%;
}

.button_to > .btn {
	background-color: transparent;
	width: 100%;
	height: 100%;
}

.no-results {
	width: 100%;
	position: relative;
	display: block;
	padding: 60px;
	text-align: left;
	margin-bottom: 300px;
}

.no-results .smile {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	font-size: 80px;
	color: #777;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.no-results .smile:berfore {
	display: block;
	position: absolute;
	content: "):";
	font-size: 50px;
	color: #444;
}

.no-results p {
	color: #333;
	font-size: 20px;
	margin-top: 20px;
}

.invisible {
	display: none;
}

.bg-howitworks {
	background-color: #4c4a55;
}

#performer-city {
	background-color: #3e3e3e;
	font-size: 20px;
	padding: 0px;
}

.performers-filter input[id^='user-']:valid {
	color: green !important;
}

.performers-filter input[id^='user-']:invalid {
	color: red !important;
}

.performers-filter .form-control {
	background-color: white;
	color: #3e3e3e;
	border: none;
	box-shadow: 0 0 0px 2px #878787;
	border-radius: 4px;
}

.bg-reg1 {
	overflow-y: scroll;
}

.top-favorites {
	padding: 2px !important;
}

.top-favorites .glyph-heart {
	background-color: transparent !important;
}

.top-favorites .glyph-heart:before {
	color: #ff7e00 !important;
}

.file-upload {
	display: none;
}

/*.popup {
	box-sizing: border-box;
}*/

.upload-progress {
	box-sizing: border-box;
	background-color: white;
	color: green;
	opacity: 0.5;
	padding: 1px;
	height: 10px;
	width: 100%;
	position: absolute;
	bottom: 10px;
	display: none;
}

[id^=face-round] {
	opacity: 0.5;
	border: 3px solid red;
	position: absolute;
	cursor: pointer;
}

[id^=face-round]:hover {
	opacity: 0.5 !important;
	background-color: white;
}

.result-avatar {
	margin: 20px;
	width: 90px;
	height: 90px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
	border: 2px solid red;
}

.increase, .reduce {
	cursor: pointer;
}

.btn-sign-up-step-1 {
	color: black;
	text-transform: uppercase;
	font-weight: bold;
}

.btn-confirm {
	color: black;
	background-color: #2fe05c;
}

.btn-gray {
	background-color: #f1f1f1;
	border: 2px solid #bdbdbd !important;
	color: #5a5b5d;
	padding: 9px 20px;

}

div#devise-client-avatar {
	border: 2px solid #bdbdbd;
}
