@font-face {
	font-family: 'webglyphs';
	src: url('/assets/fonts/glyphs.eot');
	src: url('/assets/fonts/glyphs.eot?#iefix') format('embedded-opentype'),
	     url('/assets/fonts/glyphs.woff') format('woff'),
	     url('/assets/fonts/glyphs.ttf') format('truetype'),
	     url('/assets/fonts/glyphs.svg#webglyphs') format('svg');
	font-weight: normal;
	font-style: normal;
}

.glyph:before {
	font-family: 'webglyphs' !important; 
	font-size: 88px;
	position: relative;
	display: inline-block;
	dominant-baseline: text-before-edge;
	pointer-events: none;
}

.glyph-arrow-left:before {
	content: "\F001";
}

@media (min-width:1281px) { 
	.glyph:before {
		font-size: 44px;
	}
}