@font-face {
	font-family: 'webglyphs';
	src: url('/assets/fonts/glyphs.eot');
	src: url('/assets/fonts/glyphs.eot?#iefix') format('embedded-opentype'),
	     url('/assets/fonts/glyphs.woff') format('woff'),
	     url('/assets/fonts/glyphs.ttf') format('truetype'),
	     url('/assets/fonts/glyphs.svg#webglyphs') format('svg');
	font-weight: normal;
	font-style: normal;
}

.glyph:before {
	font-family: 'webglyphs' !important; 
	font-size: 48px;
	position: relative;
	display: inline-block;
	dominant-baseline: text-before-edge;
	pointer-events: none;
}

.glyph-arrow-left:before {
	content: "\F001";
}

.glyph-more-vert:before {
	content: "\F002";
}

// .glyph-arrow-left, .glyph-more-vert {
// 	display: block;
// 	height: 48px !important;
// 	width: 48px !important;
// }

.glyph-more-vert {
	text-align: center;
}


@media (min-width:1281px) { 

	.glyph:before {
		font-size: 32px;
	}

}
