@import "colors.scss";

#snackbar {
  min-height: 20%;
  text-align: center;
  display: block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

#snackbar > .data-transparent {
  opacity: 0.9;
}

#snackbar > .data-message {
  height: 100%;
  color: $primary-color-text;
}

#snackbar :not([class*="btn"]) {
  pointer-events: none;
}

#snackbar .btn {
  pointer-events: all !important;
}