.bg-primary-color-dark.primary-color-text
	.question-header
		%h2
			= @question[:text]
	#resume
- @question[:answers].keys.shuffle.each do |answer_key|
	%a.question-card{"data-ajax" => 1, "data-type" => :answer_variant, "data-question-id" => @question[:id], "data-answer-id" => answer_key}
		%div
			= @question[:answers][answer_key].html_safe
#question-list{"data-question-list" => (@question[:list] -= [@question[:id]]).join(','),
	"data-time" => Time.now,
	"data-question-count" => @question[:count],
	"data-total-answers-count" => @question[:stat][:total_answer_count],
	"data-right-answers-count" => @question[:stat][:right_answer_count],
	"data-time-for-answers" => @question[:stat][:total_time],
	"data-question-left" => @question[:list].size}